    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
    <h3>PinPoint</h3>
    <div id="map"></div>
    <script>
		marker = 0;
		map = 0;
      function initMap() {
        var uluru = {lat: <%= @last_loc.latitude %>,
          lng: <%= @last_loc.longitude %>};
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 3,
          center: uluru
        });
		map.setMapTypeId(google.maps.MapTypeId.SATELLITE);
        marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
	  
	  function set_marker(latitude, longitude) {
      marker.setPosition(new google.maps.LatLng(latitude, longitude));
    }

    window.setInterval(function() {
      $.get('/location/json', function(data, status) {
        set_marker(data.latitude, data.longitude);
        map.panTo(new google.maps.LatLng(data.latitude, data.longitude));
      }, "json");
    }, 2000);

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqO2ai1uwdMDcxrg4Foc3_OfQKghsIqk4&callback=initMap">
    </script>
	<button onclick="test()">test</button>
