<div class="container">
  <br/>
  <div class="panel panel-default">
    <div class="panel-body">
      <h1>Pinpoint</h1>
      <br/>
      Pinpoint is a portable GPS tracking device intended to be attached to the uniforms of law enforcement officers. The device would instantly alert dispatch when a high-decibel sound is detected, which could indicate that a gunshot or car accident occurred nearby. The Pinpoint device has the potential to save the lives of law enforcement officers by notifying dispatch much faster than an officer calling for backup, especially when the officer is incapable of calling for backup due to the situation at hand. The device uses radio frequency waves to transmit information wirelessly to a receiver that is connected via USB to the laptop located in the officer’s squad car. A program running on the officer’s laptop sends the GPS data to a server located at the police headquarters. A web interface allows dispatchers to be notified as soon as the high decibel sound is detected.
    
    </div>
  </div>
</div>



