<div class="container">
  <br/>
  <div class="panel panel-default">
    <div class="panel-body">
      <h1>Pinpoint</h1>
      <br/>
      Pinpoint is a portable GPS tracking device intended to be attached to the uniforms of law enforcement officers. The device would instantly alert dispatch when a high-decibel sound is detected, which could indicate that a gunshot or car accident occurred nearby. The Pinpoint device has the potential to save the lives of law enforcement officers by notifying dispatch much faster than an officer calling for backup, especially when the officer is incapable of calling for backup due to the situation at hand. The device uses radio frequency waves to transmit information wirelessly to a receiver that is connected via USB to the laptop located in the officer’s squad car. A program running on the officer’s laptop sends the GPS data to a server located at the police headquarters. A web interface allows dispatchers to be notified as soon as the high decibel sound is detected.
      <br/>
      <br/>
      <h2>The Team</h2>   
      <h3>Nicholas Adams</h3>
      After graduating from Wyoming Rogers High School I completed an Associate’s Degree in Electronics Engineering Technology at Grand Rapids Co position.  At both GRCC and Ferris I have been named to the Dean’s/President’s lists many times and was awarded the 2016-17 John Deere Scholarship.  I have a talent for diagnosing and creating solutions for mechanical and electronic problems.  In my spare time I enjoy blacksmith ing on a forge I constructed, gaming, and outdoor activities. 
      <h3>Oscar McCully</h3>
      Oscar McCully will be graduating with a Bachelor of Science degree in Computer Networks and Systems and a Computer Science minor. As of the Spring of 2017, his cumulative GPA is 3.73. He is also a self-taught web developer. In 2013, he developed a website that has since generated more than $14,000 in total revenue and continues to attract around 4,500 users per day. Oscar is interested in a career in embedded systems or software development. In his spare time, he enjoys reading and playing tennis.
      <h3>Evan Seay</h3>
      Evan Seay was raised in Reed City, Michigan, and graduated from Reed City High School in 2012. He is pursuing a bachelor’s degree in the Electrical/Electronics Engineering Technology program here at Ferris State University. Evan was employed over the past summer at Byrne El ectrical Specialists as an Electrical Engineering Intern. In his spare time, he enjoys pl aying soccer as well as video games. He hopes to pursue a career in renewable energy involving solar or wind generated powe
      <h3>Justin Tschida</h3>
      Justin Tschida was born in South Bend, Indiana where he graduated from James Whitcomb Riley High School. Justin is a senior in the Electrical and Electronics En gineering Technology program and will be graduating at the end of the Spring 2017 semester. His interests include playing golf, volleyball, and watching Oklahoma football. Justin will also be getting married in the month of Octo ber 2017. He is excited to begin a new journey building a career as a husband. 
    </div>
  </div>
</div>



